[Unit]
Description=Function stress
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/aati2
ExecStart=/usr/local/bin/rd-hashd --args /local/scratch/rd-hashd/args-7.json
CPUAccounting=yes
CPUShares=1024
Slice=faas.slice
RestartSec=5

[Install]
WantedBy=multi-user.target