[Unit]
Description=Function stress
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/aati2/CFS-LLF_main/rd-hashd/working-directory
ExecStart=/usr/local/bin/rd-hashd --args /home/aati2/CFS-LLF_main/rd-hashd/args-37.json
CPUAccounting=yes
CPUShares=1024
Slice=faas.slice
RestartSec=5

[Install]
WantedBy=multi-user.target