[Unit]
Description=Function stress %i
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/local/scratch/CFS-LLF_main/rd-hashd
ExecStart=/usr/local/bin/rd-hashd --args args/args-%i.json
CPUAccounting=yes
CPUShares=1024
AllowedCPUs=0-11
#AllowedMemoryNodes=0
Slice=faas.slice
RestartSec=5

[Install]
WantedBy=multi-user.target
