[Unit]
Description=Description of your script
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/cmp3isstaa/CFS-LLF_main/
ExecStart=/home/cmp3isstaa/CFS-LLF_main/jupyter_env/bin/python3 scripts/backend.py --ip_address 127.0.0.1
Restart=always
RestartSec=1
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
