[Unit]
Description=Description of your script
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/local/scratch/CFS-LLF_main
ExecStart=/local/scratch/CFS-LLF_main/jupyter_env/bin/jupyter notebook --allow-root
Restart=always
RestartSec=1
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
